@import '~antd/dist/antd.less';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,html,#root {
  width: 100%;
  min-height: 100%;
}

.container {
  width: 100%;
}
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
} 

.header {
  width: 100%;
  min-height: 50px;
}

.rightWrapper {
  width: 0;
  overflow: hidden;
  display: none;
  padding: 5px;
  position: sticky;
  top:0;
  height: min-content;
}
.leftWrapper {
  width: 100%;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
    display: flex;
  }
  .leftWrapper {
    width: 70%;
  }
  .rightWrapper {
    display: block;
    width: 30%;
  }
}

@media screen and (min-width: 992px){
  .wrapper {
    width: 1140px;
    display: flex;
  }
  .leftWrapper {
    width: 70%;
  }
  .rightWrapper {
    display: block;
    width: 30%;
  }
}



